body{
    background-image: linear-gradient(to right, #7f53ac 0, #657ced 100%);
	color: rgb(252, 250, 250);
}
.quiz-container{
    font-family: 'Times New Roman', Times, serif;
    max-width: 900px;
    margin: 50px auto;
    padding: 16px;
    background: rgba(255, 255, 255, 0.178);
  box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.quiz-container .timer{
    font-weight: bold;
    text-align: right;
}
.danger{
    color: red;
}
.quiz-container h2.question{
    font-size: 20px;
    background: linear-gradient(90.02deg, #ce81ea 7.51%, #71368a 98.23%);
    padding: 16px;
    border-radius: 8px;
    font-weight: normal;
    line-height: 1.6;
}
.quiz-container .options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 20px;
}
.quiz-container .option{
    border: none;
    padding: 24px 32px;
    font-size: 19px;
    background: #1d3557;
    color: white;
    
}
.quiz-container button{
    cursor: pointer;
}
.disabled{
    pointer-events: none;
}
.option.correct{
    background: #51e351;
    color: #222;
}
.option.incorrect{
    background: #e63946;
}
.quiz-container .next-btn,
.quiz-result .retake-btn{
    background: #222;
    color: #fff;
    border: none;
    padding:  12px 32px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;
    cursor: pointer;
    width: fit-content;
}
.quiz-result{
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 900px;
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
    padding: 16px;
    display: none;
}
.quiz-result .question-container{
    padding: 12px;
    border: 1px solid #eee;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.quiz-result .question-container.incorrect{
    background: #e63946;
    color: white;
}

.question-number{
    font-size: 16px;
    margin-right: 16px;
    background: #1d3557;
    color: white;
    padding: 8px;
    border-radius: 8px;
}
@media (max-width: 700px){
    .quiz-container .options{
        grid-template-columns: 1fr;
    }
}